@import "_header.scss";
@import "_main.scss";
@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&display=swap');
@import "_createQuestion";
@import "_alreadyTests";
@import "_profile";
@import "_shop.scss";
@import "_passingTest.scss";
@import "_registration.scss";
.App {
display:flex;
flex-direction: column;

}

html {
    background-color: rgb(225, 225, 243);
    
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
.container {
    max-width: 100%;
    box-sizing: border-box;
 display: flex;
 height: 100%;
}
a {
    text-decoration: none;
}
